log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569035109.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-10 - epochs.model/events.out.tfevents.1569094242.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-10 - epochs.model/events.out.tfevents.1569099780.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-10 - epochs.model/events.out.tfevents.1569099921.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-10 - epochs.model/events.out.tfevents.1569115301.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569086078.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569092519.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569092555.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569093244.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569093393.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569094015.MSI - LAPTOP
log/pyvolfied-0.001 - alexnetv2-8 - epochs.model/events.out.tfevents.1569085648.MSI - LAPTOP
__pycache__/getkeys.cpython-37.pyc
__pycache__/alexnet.cpython-37.pyc
__pycache__/directkeys.cpython-37.pyc
__pycache__/grabscreen.cpython-37.pyc
__pycache__/GripPipeline.cpython-37.pyc
__pycache__/linefilter.cpython-37.pyc
.vscode/launch.json
.vscode/settings.json
training_data - Copy.npy
training_data.npy
log/pyvolfied-0.001 - alexnet-10 - epochs.model/events.out.tfevents.1569115301.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-10 - epochs.model/events.out.tfevents.1569094242.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-10 - epochs.model/events.out.tfevents.1569099780.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-10 - epochs.model/events.out.tfevents.1569099921.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569035109.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569086078.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569092519.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569092555.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569093244.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569093393.MSI - LAPTOP
log/pyvolfied-0.001 - alexnet-8 - epochs.model/events.out.tfevents.1569094015.MSI - LAPTOP
log/pyvolfied-0.001 - alexnetv2-8 - epochs.model/events.out.tfevents.1569085648.MSI - LAPTOP
